
/* ----------------------------------------------------------------

	banner.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Banner
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for banner. Thanks!
-----------------------------------------------------------------*/


#banner {
    position: relative;
    height: 40rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .banner-wrap {
        padding-left: 4.375rem;
        padding-right: 4.375rem;
    }

    @include media-breakpoint-up(lg) {
        padding-bottom: $section-spacer;
    }
}

.banner-sm {
    padding: 1.5rem;
    background-color: #f2f2f2;
}
