
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/
#footer-top {
	padding-top: 5rem;
	padding-bottom: 3rem;
}

#footer-main {
	padding-top: 0rem;
    padding-bottom: 3rem;
}

#copyrights {
	font-size: 0.75rem;
	color: #cccccc;
}
