
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { 
	margin-bottom: 2.875rem; 
	position: relative;
	
	.title {
		color: $secondary;
		font-weight: 300;
		letter-spacing: 0.15rem;
		line-height: 1.2;
	}

	.sub-title {
		color: #c8c8c8;
	}
}